// Map —————————————————————————————————————————————————————————————————

// Mapbox --------------------------------------------------------------------

.mapboxgl-ctrl-bottom-right,
.mapboxgl-ctrl-bottom-left {
  transition: bottom 0.15s;
}

.mapboxgl-ctrl-attrib {
  font-size: 12px;
  padding: 2px 5px 0;

  .mapbox-improve-map {
    font-weight: 500;
  }
}

@media (min-width: 768px) {
  .mapboxgl-ctrl-bottom-left {
    left: rem(380);
  }
}

@media (max-width: (768px - 1)) {
  .mapboxgl-ctrl-bottom-left {
    bottom: var(--sheet-offset-bottom);
  }
}

@media (max-width: (380px + 60px)) {
  .mapboxgl-ctrl-bottom-right {
    bottom: var(--sheet-offset-bottom);
  }
}

// Markers -------------------------------------------------------------

.marker {
  --size-rate: 0.875;
  --size-exp: calc(var(--map-zoom) * (var(--map-zoom) * var(--size-rate)));
  --size: calc(0.125px * var(--size-exp));
  --width: max(2px, min(var(--size), 20px));
  --height: max(2px, min(var(--size), 20px));
  --pin-background-color: var(--color-text);
  --pin-halo-color: var(--color-root);
  --pin-halo-width: 1px;
  --label-background-color: var(--pin-background-color);
  --label-color: var(--color-root);

  cursor: pointer;
  font-family: var(--font-body);
  padding: rem(8);

  &:hover {
    z-index: 1;
  }
}

.marker-head {
  width: var(--width);
  height: var(--height);
  background-color: var(--pin-background-color);
  box-shadow: 0 0 0 var(--pin-halo-width) var(--pin-halo-color);
  border-radius: 2em;
  transition: box-shadow 0.1s ease-out;

  .marker:hover & {
    box-shadow: 0 0 0 var(--pin-halo-width) var(--pin-halo-color),
      0 0 0 calc(var(--pin-halo-width) + 2px) var(--pin-background-color);
  }
}

.marker-label {
  pointer-events: none;
  position: absolute;
  bottom: 50%;
  left: 100%;
  width: max-content;
  font-size: rem(16);

  color: var(--label-color);
  background-color: var(--label-background-color);

  opacity: calc(var(--map-zoom-floor) - 10);
  transition: opacity 0.1s ease-out;

  .marker:hover & {
    opacity: 1;
  }
}

.marker-label-content {
  padding-top: rem(1);
  padding-left: rem(5);
  padding-right: rem(5);
}

// Context

.context-marker {
  --size-rate: 1.25;
  --width: max(12px, min(var(--size), 24px));
  --height: max(12px, min(var(--size), 24px));
  --pin-background-color: var(--color-key);
  --pin-halo-width: 2px;
  // --label-color: var(--color-text);
  z-index: 1;
}
