// Start ———————————————————————————————————————————————————————————————

#app > h1 {
  position: fixed;
  top: rem(20);
  left: rem(20);
  z-index: 1;
}

// Castles

.castle-marker {
  --size-exp: calc(var(--map-zoom) * (var(--map-zoom) * 0.875));
  --size: calc(0.125px * var(--size-exp));
  --width: max(2px, var(--size));
  --height: max(2px, var(--size));
}

.castle-marker-head {
  width: var(--width);
  height: var(--height);
  background-color: #000;
  border-radius: var(--size);
}

.castle-marker-label {
  display: none;
}
