// Start ———————————————————————————————————————————————————————————————

.button-location {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  margin: rem(20);
  margin-right: max(rem(20), env(safe-area-inset-right));
}
